Flask==0.10.1
Flask-WTF==0.11
Jinja2==2.7.3
MarkupSafe==0.23
WTForms==2.0.2
Werkzeug==0.10.1
gevent==1.0.1
greenlet==0.4.5
isodate==0.5.1
itsdangerous==0.24
pytz==2015.2
wsgiref==0.1.2
-e git+https://github.com/dtcooper/python-fitparse.git@ng#egg=fitparse
